{% include "admin-header.html" %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h1 class="h3 mb-4 text-gray-800">Hakkımızda Ayarları</h1>
          </div>
        </div>
  
       
  
            <div class="col-lg-8 mt-5 mt-lg-0">
                {% if error %}
                <a style="float: left;color: rgb(11, 72, 240);"> <b>{{ error }}</b></a>
               
                <br/><br/>

               {% endif %}
              <form action="/updateAbout" method="post" role="form" class="php-email-form">
                 
                  <div class="form-group">
                    <label for="main">Ana Başlık</label>
                    <input type="text" class="form-control" name="main" id="main"  value="{{aboutdetail[0][1]}}"  placeholder="Ana Başlık"   />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <label for="explain">Detaylar</label>
                    <textarea class="form-control" id="explain" name="explain" rows="5" data-rule="required" data-msg="Message" placeholder="Detaylar">{{aboutdetail[0][2]}}</textarea>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <label for="second">İkinci Başlık</label>
                    <input type="text" class="form-control" name="second" id="second"  value="{{aboutdetail[0][3]}}"  placeholder="İkinci Başlık"   />                   
                     <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <label for="details2">Detaylar</label>
                    <input type="text" class="form-control" name="details2" id="details2"  value="{{aboutdetail[0][4]}}"  placeholder="Detaylar"   />                   
                     <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <label for="third">Üçüncü Başlık</label>
                    <input type="text" class="form-control" name="third" id="third"  value="{{aboutdetail[0][5]}}"  placeholder="Üçüncü Başlık"   />                   
                     <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <label for="details3">Detaylar</label>
                    <input type="text" class="form-control" name="details3" id="details3"  value="{{aboutdetail[0][6]}}"  placeholder="Detaylar"   />                  
                      <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <label for="fourth">Dördüncü Başlık</label>
                    <input type="text" class="form-control" name="fourth" id="fourth"  value="{{aboutdetail[0][7]}}"  placeholder="Dördüncü Başlık"   />                    
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <label for="details4">Detaylar</label>
                    <input type="text" class="form-control" name="details4" id="details4"  value="{{aboutdetail[0][8]}}"  placeholder="Detaylar"   />                    
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <label for="link">Video Linki</label>
                    <input type="text" class="form-control" name="link" id="link"  value="{{aboutdetail[0][9]}}"  placeholder="Video Linki"   />                   
                     <div class="validate"></div>
                  </div>
                
              
                <div class="text-center"><button type="submit" class="btn btn-primary">Güncelle</button></div>
              </form>
  
            </div>
  
          
  
      </section><!-- End Contact Section -->

                </div>
                <!-- /.container-fluid -->

                {% include "admin-footer.html" %}      

          