{% extends "./header.html" %}

  <main id="main">

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1>BrainSoup Web Asistanına Hoş Geldiniz</h1>
    <h2>Beyin Tümörü Tespiti İçin MR Sonuçlarına Göre  Doktorlara Yardımcı Olan Bir Web Asistandır.</h2>
    <a href="#contact" class="btn-get-started scrollto">Detaylar</a>
  </div>
</section><!-- End Hero -->
<br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <!-- ======= Breadcrumbs Section ======= 
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Yapay Zeka ile  Beyin Tümörü Tespiti</h2>
          <ol>
            <li><a href="index.html">Anasayfa</a></li>
            <li>Yapay Zeka ile  Beyin Tümörü Tespiti</li>
          </ol>
        </div>

      </div>
    </section> End Breadcrumbs Section -->

    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>İletişim</h2>
          <p>Bizimle aşağıdaki form aracılıyla veya iletişim bilgilerimizi kullanılarak iletişim kuranbilirsiniz</p>
        </div>
      </div>

      <div>
      <div class="container">
        <div class="row mt-5">

          

          <div class="col-lg-8 mt-5 mt-lg-0" style="margin:auto;">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Adınız ve Soyadınız" data-rule="minlen:4" data-msg="En az 4 karakter olmalıdır" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Mailiniz" data-rule="email" data-msg="Lütfen geçerli bir mail giriniz" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Mail Konunuz" data-rule="minlen:4" data-msg="En az 8 karakter olacak şekilde mesaj konusunu giriniz" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mesajınız"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Mesajınız Gönderildi Teşekkür Ederiz!</div>
              </div>
              <div class="text-center"><button type="submit">Gönder</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% include "./footer.html" %}