{% include "admin-header.html" %}              
    <!-- Custom styles for this page -->
				<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Çalışan Bilgileri</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Çalışanlar</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>İsim</th>
                                            <th>Soyisim</th>
                                            <th>Pozisyon</th>   
                                            <th>Açıklama</th>
                                            <th>Twitter</th>
                                            <th>Facebook</th>
                                            <th>İnstagram</th>
                                            <th>Linkedin</th>
                                          
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>İsim</th>
                                            <th>Soyisim</th>
                                            <th>Pozisyon</th>   
                                            <th>Açıklama</th>
                                            <th>Twitter</th>
                                            <th>Facebook</th>
                                            <th>İnstagram</th>
                                            <th>Linkedin</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for rows in datas %}
                                        
                                        <tr ->
                                          <td><a href="/addEmployeeAdmin/{{rows[0]}}">{{rows[0]}}</a></td>
                                          <td>{{rows[1]}}</td>
                                          <td>{{rows[2]}}</td>
                                          <td>{{rows[3]}}</td>
                                          <td>{{rows[4]}}</td>
                                          <td>{{rows[7]}}</td>
                                          <td>{{rows[8]}}</td>
                                          <td>{{rows[9]}}</td>
                                          <td>{{rows[10]}}</td>
                                        
                                        </tr>
                                       
                                     
                                       
                                        {% endfor %}
                             
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            
            <!-- End of Main Content -->
			 <!-- Page level plugins -->
			
            {% include "admin-footer.html" %}  