
 <!-- ======= Footer ======= -->
 <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>AI Hastanesi</h3>
            <p>
              Çorlu,Tekirdağ <br><br>
              <strong>Phone:</strong> +9000000000<br>
              <strong>Email:</strong> ugurilgin94@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Bağlantılar</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Anasayfa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hakkımızda</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bölümlerimiz</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Kullanım Koşulları</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Gizlilik Politikası</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Önemli Linkler</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Doktorlarımız</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">İletişim</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dermatoloji(Cildiye)</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Beyin ve Sinir Cerrahi</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Göğüs Hastalıkları</a></li>
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>AI Hastanesi</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
         
          Designed by Uğur ILGIN
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='assets/vendor/jquery.easing/jquery.easing.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}" ></script>
  <script src="{{ url_for('static', filename='assets/vendor/venobox/venobox.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/jquery.waypoints.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='assets/vendor/counterup/counterup.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" ></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>