<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BrainSoup Brain Tumor Detection Web Asistanı</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }} " rel="icon">
  <link href= "{{ url_for('static', filename='assets/img/apple-touch-icon.png') }} "  rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<!--CSS Files -->
  <link href= "{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }} "  rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/icofont/icofont.min.css') }} "  rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }} " rel="stylesheet">
  <link href= "{{ url_for('static', filename='assets/vendor/venobox/venobox.css') }} "  rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/animate.css/animate.min.css') }}"  rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}"   rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}"   rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/style.css') }}"  rel="stylesheet">

 
</head>

<body>


<!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope">  <a href="mailto:ugurilgin94@gmail.com" />ugurilgin94@gmail</a></i>
        
        <i class="icofont-google-map"></i> Çorlu,Tekirdağ
      </div>
      <div class="social-links">
        <a  class="twitter">Merhaba,<b>Uğur</b> Hoşgeldiniz</a>
     
        
      </div>
      
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{{url_for('index')}}">BrainSoup</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{url_for('index')}}">Anasayfa</a></li>
          <li><a href="{{url_for('index')}}#about">Hakkımızda</a></li>
          <li><a href="{{url_for('index')}}#doctors">Doktorlarımız</a></li>
         
          <li><a href="{{url_for('index')}}#contact">İletişim</a></li>
          <li class="drop-down"><a href="{{url_for('index')}}#departments">Profiliniz</a>
            <ul>
              <li><a href="#">Profili Görüntüle</a></li>
              <li><a href="{{url_for('tumor')}}#tumor">MR İncele</a></li>
              <li><a href="#">Çıkış Yap</a></li>
            </ul>
          </li>
     
          <li><a   href="{{url_for('login')}}#login">Giriş Yap</a></li>
        <li><a   href="{{url_for('signup')}}#register">Kayıt Ol</a></li>
         

        </ul>
      </nav><!-- .nav-menu -->

      <a href="{{url_for('tumor')}}#tumor" class="appointment-btn scrollto">MR İncele</a>

    </div>
  </header><!-- End Header -->