

  {% include "header.html" %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>{{indexdetail[0]}}</h1>
      <h2>{{indexdetail[1]}}</h2>
      <a href="#about" class="btn-get-started scrollto">Detaylar</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Neden Bizi Seçmelisiniz?</h3>
              <p>
                {{indexdetail[2]}}
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Detaylar <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <img src="{{ url_for('static', filename='assets/img/doctor.png') }} " alt="" width="70px" height="70px" />
                    <h4></br>Doktorlara Yardımcı</h4>
                    <p>{{indexdetail[3]}}</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <img src="{{ url_for('static', filename='assets/img/brain.png') }} " alt="" width="70px" height="70px" />
                    <h4></br>Beyin Tümörü Tespiti</h4>
                    <p>{{indexdetail[4]}}</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <img src="{{ url_for('static', filename='assets/img/cloud.png') }} " alt="" width="70px" height="50px" />
                    <h4></br></br>Bulut Desteği</h4>
                    <p>{{indexdetail[5]}}</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
            <a href="{{aboutdetail[9]}}" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>{{aboutdetail[1]}}</h3>
            <p>{{aboutdetail[2]}}</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">{{aboutdetail[3]}}</a></h4>
              <p class="description">{{aboutdetail[4]}}</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-shield-alt-2"></i></div>
              <h4 class="title"><a href="">{{aboutdetail[5]}}</a></h4>
              <p class="description">{{aboutdetail[6]}}</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">{{aboutdetail[7]}}</a></h4>
              <p class="description">{{aboutdetail[8]}}</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Doctors Section ======= -->
    <section id="team" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Ekibimiz</h2>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{ url_for('static', filename='assets/img/doctors/doctors-1.jpg') }} " class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Uğur Ilgın</h4>
                <span>Takım Lideri</span>
                <p>Yapay zeka uygulamamızı yapan mühendisimizdir.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{ url_for('static', filename='assets/img/doctors/doctors-2.jpg') }} " class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Beyin Tümörü Algılayan AI</h4>
                <span>Beyin ve Sinir Cerrahi</span>
                <p>Doktorlarımıza yardımcı olan web asistanımızdır</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

       

         

        </div>

      </div>
    </section><!-- End Doctors Section -->

    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-1.jpg') }} " class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Vay,Bu web asistanının yapay zeka doktorlarını çok beğendim.Keşke Amerikada'da böyle bir hizmet olsaydı.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-2.jpg') }} " class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Beynimdeki tümörü erkenden tespit edebilen ve bu sayede hayatımı kurtaran BrainSoup Web Asistanına çok teşekkür ederim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-3.jpg') }} " class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                BrainSoup Web Asistanını yardımıyla hastalarıma en hızlı ve en doğru teshişi koyuyorum
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Galeri</h2>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename='assets/img/gallery/gallery-1.jpg') }} " class="venobox" data-gall="gallery-item">
                <img src="{{ url_for('static', filename='assets/img/gallery/gallery-1.jpg') }} " alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename='assets/img/gallery/gallery-2.jpg') }} " class="venobox" data-gall="gallery-item">
                <img src="{{ url_for('static', filename='assets/img/gallery/gallery-2.jpg') }} " alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename='assets/img/gallery/gallery-3.jpg') }} " class="venobox" data-gall="gallery-item">
                <img src="{{ url_for('static', filename='assets/img/gallery/gallery-3.jpg') }} " alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename='assets/img/gallery/gallery-4.jpg') }} " class="venobox" data-gall="gallery-item">
                <img src="{{ url_for('static', filename='assets/img/gallery/gallery-4.jpg') }} " alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename='assets/img/gallery/gallery-5.jpg') }} " class="venobox" data-gall="gallery-item">
                <img src="{{ url_for('static', filename='assets/img/gallery/gallery-5.jpg') }} " alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename='assets/img/gallery/gallery-6.jpg') }} " class="venobox" data-gall="gallery-item">
                <img src="{{ url_for('static', filename='assets/img/gallery/gallery-6.jpg') }} " alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename='assets/img/gallery/gallery-7.jpg') }} " class="venobox" data-gall="gallery-item">
                <img src="{{ url_for('static', filename='assets/img/gallery/gallery-7.jpg') }} " alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ url_for('static', filename='assets/img/gallery/gallery-8.jpg') }} " class="venobox" data-gall="gallery-item">
                <img src="{{ url_for('static', filename='assets/img/gallery/gallery-8.jpg') }} " alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>İletişim</h2>
          <p>Bizimle aşağıdaki form aracılıyla veya iletişim bilgilerimizi kullanılarak iletişim kurabilirsiniz</p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.8386556768337!2d27.814877715419364!3d41.18168617928354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x66d5400ce3278958!2sNam%C4%B1k%20Kemal%20%C3%9Cniversitesi%20Teknoloji%20Geli%C5%9Ftirme%20B%C3%B6lgesi%20Y%C3%B6netici%20A.%C5%9E.!5e0!3m2!1str!2str!4v1603477770708!5m2!1str!2str" frameborder="0" allowfullscreen></iframe>
      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Adres:</h4>
                <p>Çorlu,Tekirdağ</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>ugurilgin94@gmail</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Telefon:</h4>
                <p>+9000000000</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{{url_for('form')}}" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Adınız ve Soyadınız" data-rule="minlen:3" data-msg="En az 3 karakter olmalıdır" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Mailiniz" data-rule="email" data-msg="Lütfen geçerli bir mail giriniz" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Mail Konunuz" data-rule="minlen:4" data-msg="En az 8 karakter olacak şekilde mesaj konusunu giriniz" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Lütfen Mesajınızı yazınız" placeholder="Mesajınız"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Mesajınız Başarıyla Gönderildi</div>
              </div>
              <div class="text-center"><button type="submit">Gönder</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% include "footer.html" %}
