{% include "admin-header.html" %}              
    <!-- Custom styles for this page -->
				<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Posta Kutusu</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Maillerim</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Adı ve Soyadı</th>
                                            <th>E-Mail</th>
                                            <th>Konu</th>
                                            <th>Mesaj</th>
                                            <th>Tarih</th>
                                          
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Adı ve Soyadı</th>
                                            <th>E-Mail</th>
                                            <th>Konu</th>
                                            <th>Mesaj</th>
                                            <th>Tarih</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for rows in datas %}
                                        {% if rows[7]=="0" %}
                                        <tr style="font-weight:bold;color:black">
                                          <td><a href="/readMail/{{rows[0]}}">{{rows[1]}}</a></td>
                                          <td>{{rows[2]}}</td>
                                          <td>{{rows[3]}}</td>
                                          <td>{{rows[4]}}</td>
                                          <td>{{rows[5]}}</td>
                                        
                                        </tr>
                                        {% else %}
                                        <tr >
                                            <td><a href="/readMail/{{rows[0]}}">{{rows[1]}}</a></td>
                                            <td>{{rows[2]}}</td>
                                            <td>{{rows[3]}}</td>
                                            <td>{{rows[4]}}</td>
                                            <td>{{rows[5]}}</td>
                                          
                                          </tr>
                                        {% endif %}
                                        {% endfor %}
                             
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            
            <!-- End of Main Content -->
			 <!-- Page level plugins -->
			
            {% include "admin-footer.html" %}  