{% include "header.html" %}
<style>
  .form button[type="submit"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.form button[type="submit"]:hover {
  background: #1c84e3;
}

.form input, .form textarea, .form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;
}

.form input:focus, .form textarea:focus, .form select:focus {
  border-color: #1977cc;
}

.form input, .form select {
  height: 44px;
}
</style>
<br/><br/><br/><br/><br/><br/><br/>

    <main id="main">
        <br/><br/>

        

          <section id="register" class="contact">
            <div class="container">
      
              <div class="section-title">
                <h2>Hasta Ekle</h2>
                <p>Sisteme Burdan Yeni Hastalar Ekleyebilirsiniz</p>
              </div>
            </div>
      
            <div>
            <div class="container">
              <div class="row mt-5">
      
                
      
                <div class="col-lg-8 mt-5 mt-lg-0" style="margin:auto;">
      
                  <form action="/addPatients" method="post"  class="form">
                    {% if error %}
                    <a style="float: left;color: red;">Kaydetme Hatası: {{ error }}</a><br/><br/>
                   {% endif %}
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Hastanın Adı " data-rule="minlen:4" data-msg="En az 4 karakter olmalıdır" />
                        </div>
                        <div class="col-md-6 form-group">
                        <input type="text" name="surname" class="form-control" id="surname" placeholder="Hastanın Soyadı" data-rule="minlen:4" data-msg="En az 4 karakter olmalıdır" />
                        </div>
                      </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Hastanın Mail Adresi" data-rule="email" data-msg="Lütfen geçerli bir mail giriniz" />
                    </div>
                    <div class="form-group">
                      <input type="text" name="tcno" class="form-control" id="tcno" placeholder="Hastanın TC Nosu" data-rule="minlen:11" data-rule="maxlen:11" pattern="[0-9]{11}"  data-msg="TC Kimlik No 11 karakter olmalıdır" />
                    </div>
                    <div class="form-group">
                      <input type="date" name="birth" class="form-control" id="birth" placeholder="Hastanın Doğum Tarihi"   />
                    </div>
                    
                    
              
                    
                    <div class="text-center"><button type="submit">Hasta Ekle</button></div>
                  </form>
                  
                </div>
      
              </div>
      
            </div>
          </section><!-- End Contact Section -->

    </main>

    {% include "footer.html" %}

    