{% include "header.html" %}
<style>
  .form button[type="submit"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.form button[type="submit"]:hover {
  background: #1c84e3;
}

.form input, .form textarea, .form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;
}

.form input:focus, .form textarea:focus, .form select:focus {
  border-color: #1977cc;
}

.form input, .form select {
  height: 44px;
}
</style>
<br/><br/><br/><br/><br/><br/><br/>

    <main id="main">
        <br/><br/>

        <section>
          <div class="container" width="100%">
      
            <div class="section-title">
              {% if isim %}   
              <h2>Merhaba, {{isim}}</h2>
              {% endif %}
              {% if sumpatient %}
            </br>  </br> 

           

              <div class="row">
                <div  class="col-md-6 col-xl-4">
                    <div style="background-color:rgb(21, 173, 211);" class="card mb-3 widget-content bg-midnight-bloom">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Toplam Hasta Sayısı</div>
                                <div class="widget-subheading">___________</div>

                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{% if sumpatient %} {{sumpatient}} {% endif %}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div style="background-color:rgb(33, 185, 71);" class="card mb-3 widget-content bg-arielle-smile">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Sağlıklı Hasta Sayısı</div>
                                <div class="widget-subheading">___________</div>

                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{% if negative %} {{negative}} {% endif %}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col-md-6 col-xl-4">
                    <div style="background-color:slateblue;" class="card mb-3 widget-content bg-grow-early">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Tümörlü Hasta Sayısı</div>
                                <div class="widget-subheading">___________</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{% if possitive %} {{possitive}} {% endif %}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>


          </br>  </br>    </br></br>
              <h3 style="color:royalblue;">Grafikler</h3>
              <p>Hoş Geldiniz, Bu alanda hastalarınızın grafiklerinizi görüntüleyebilirsiniz</p>
            </div>
          </div>

          <div class="container">
            <div style="float: left; " id="Hastapiechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var possitive=Number("{% if possitive %} {{possitive}} {% endif %}");
  var negative=Number("{% if negative %} {{negative}} {% endif %}");

  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Tümörlü Hasta Sayısı', possitive],
  ['Sağlıklı Hasta Sayısı', negative]
 
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Hastaların Durum Dağılımları', 'width':350, 'height':350};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('Hastapiechart'));
  chart.draw(data, options);
}
</script>


<div style="float: left; " id="Cinsiyetpiechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var male=Number("{% if male %} {{male}} {% endif %}");
  var female=Number("{% if female %} {{female}} {% endif %}");
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Erkek Hasta Sayısı', male],
  ['Kadın Hasta Sayısı', female],
 
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Tümörlü Hastaların Cinsiyet Dağılımı', 'width':350, 'height':350};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('Cinsiyetpiechart'));
  chart.draw(data, options);
}
</script>


<div style="float: left; " id="Yaspiechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var age1=Number("{% if age1 %}  {{age1}}   {% endif %}");
  var age2=Number("{% if age2 %}  {{age2}}   {% endif %}");
  var age3=Number("{% if age3 %}  {{age3}}   {% endif %}");
  var age4=Number("{% if age4 %}  {{age4}}   {% endif %}");
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['18 Yaş Altı Hasta Sayısı', age1],
  ['18-30 Yaş Arası Hasta Sayısı', age2],
  ['30-65 Yaş Arası Hasta Sayısı', age3],
  ['65 Yaş Üstü Hasta Sayısı', age4]
 
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Tümörlü Hasta Yaş Dağılımları', 'width':350, 'height':350};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('Yaspiechart'));
  chart.draw(data, options);
}
</script>
          </div>
          {% endif %}
        </section >

          <section id="register" class="contact">
            <div class="container">
      
              <div class="section-title">
                {% if isim %}   
                <h3 style="color:royalblue;">Bilgilerini Güncelle</h3>
                {% endif %}
                <p>Bu alanda kişisel bilgilerinizi güncelleyebilirsiniz</p>
              </div>
            </div>
      
            <div>
            <div class="container">
              <div class="row mt-5">
      
                
      
                <div class="col-lg-8 mt-5 mt-lg-0" style="margin:auto;">
      
                  <form action="/updateUser" method="post"  class="form">
                    {% if error %}
                    <a style="float: left;color: red;">Kayıt Güncelleme Hatası: {{ error }}</a><br/><br/>
                   {% endif %}
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                          {% if name %}   
                          <input type="text" name="name" class="form-control" id="name" placeholder="Adınız "   value={{name}} />
                          {% endif %}
                        </div>
                        <div class="col-md-6 form-group">
                          {% if surname %} 
                        <input type="text" name="surname" class="form-control" id="surname" placeholder="Soyadınız"  value={{surname}} />
                        {% endif %}  
                      </div>
                      </div>
                    <div class="form-group">
                      {% if email %} 
                        <input type="email" class="form-control" name="email" id="email" placeholder="Mailiniz" data-rule="email" data-msg="Lütfen geçerli bir mail giriniz "value={{email}} disabled />
                        {% endif %}
                      </div>
                    <div class="form-group">
                      {% if password %} 
                      <input type="text" class="form-control" name="password" id="password" rows="5" data-rule="required" data-msg="Şifrenizi Giriniz" placeholder="Yeni Şifreniz" >
                    </div>
                    {% endif %}
              
                  
                        <div class="text-center"><button name="Update" value="Update" type="submit" style="float:left; margin-left:220px;">Güncelle</button></div>
                        <div class="text-center" ><button name="Delete" value="Delete" type="submit" style="background: #cc1919;float:left; margin-left:20px;">Hesabı Sil</button></div>
                    
                    
                  </form>
                  
                </div>
      
              </div>
      
            </div>
          </section><!-- End Contact Section -->

    </main>

    {% include "footer.html" %}

    